header{
    .header{
        position: sticky;
        top: 10;
        z-index: 999;
        background-color: white;
        @include container(96%, 2%);
        @include displayelementsflex(center);
        .hamburger_button{
            border:none;
            outline:none;
            display: block;
            background-color: transparent;
        }
        nav{
            display: none;
            &.active{
                display: block;
            }
        }
    }
}
main{
    position: relative;
    right: 100%;
    transition: 2s;
    &.active{
        right: 0%;
        transition: 2s;
    }
}